body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 40px 20px;
}

h1 {
  color: #57068c; /* NYU purple */
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.btn {
  text-decoration: none;
  padding: 12px;
  background-color: #57068c;
  color: white;
  border-radius: 8px;
}

.btn.danger {
  background-color: #cc0000;
}
